.app {
	display: flex;
	flex-direction: column;
	padding: 20px;
	max-width: 50%;
	margin: auto;
}

.switchLists {
	padding: 5px;
	max-width: 50%;
	margin: 10px auto;
	display: flex;
	font-size: 1.5rem;
}

.createTaskBlockInput,
.updateTaskBlockInput,
.filterBlockInput {
	padding-left: 8px;
	border: 2px solid var(--primary-color);
	border-radius: 5px;
	color: var(--primary-color);

	font-size: 2rem;
	line-height: 2.5rem;
	height: 40px;
	width: 50%;
	margin-bottom: 40px;
}

.createButton,
.button,
.cancelButton {
	cursor: pointer;
	background-color: var(--primary-color);
	color: var(--text-color);
	border: none;
	padding: 5px 20px;
	font-size: 1.5rem;
	border-radius: 5px;
	margin-left: 10px;
}

.createButton {
	height: 44px;
}

#tasks {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 20px;
}

.tasksWrapper {
	max-width: 70%;
	width: 100%;
}

.todosContainer {
	display: flex;
	flex-direction: column;
	height: auto;
}

.filterBlock {
	margin-left: auto;
}

.filterBlockLabel {
	margin-right: 10px;
	width: 100%;
	font-size: 1.7rem;
	line-height: 2.5rem;
	padding-top: 10px;
	padding-bottom: 20px;
}

.filterBlockInput {
	font-size: 1.5rem;
	line-height: 2rem;
	height: 30px;
	width: 50%;
	margin-bottom: 0;
}

.taskItem {
	font-size: 1.7rem;
	line-height: 2.5rem;
	border-bottom: 2px solid var(--primary-color);
	padding-top: 10px;
	padding-bottom: 20px;
}

.todosHeader {
	color: var(--primary-color);
}

.todoList {
	list-style-type: circle;
	font-size: 2rem;
	padding-left: 10px;
}

.button {
	float: right;
	line-height: 2.5rem;

	transition: 0.2s ease;
}
.button:hover {
	background-color: var(--delete-button-background);
}

.modalOverlay {
	position: fixed;
	z-index: 1000;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--modal-overlay);
	transition: 0.2s ease;
}

.modalOverlayHidden {
	display: none;
}

.actionModal {
	position: relative;
	top: 0;
	width: 600px;
	height: fit-content;
	padding: 15px 25px;
	border: 2px solid var(--text-color);
	border-radius: 5px;
	background-color: var(--primary-color);
	transition: 0.3s ease-in;
}

.actionModalQuestion {
	font-size: 2rem;
	line-height: 2.5rem;
	color: var(--text-color);
	margin: 0;
	margin-bottom: 30px;
	text-align: center;
}

.actionModalButtons {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.cancelButton,
.confirmButton {
	font-size: 2rem;
	line-height: 2.5rem;
	margin-left: 0;
}

.cancelButton {
	border: 1px solid var(--text-color);
	border-radius: 5px;
	background: none;
	color: var(--text-color);
	padding: 5px 10px;
	transition: 0.3s ease;
}

.confirmButton {
	background-color: var(--delete-button-background);
	border: 1px solid var(--delete-button-background);
}

.updateTaskBlock {
	display: flex;
	justify-content: center;
}

.updateTaskBlockInput {
	position: relative;
	width: 80%;
}

.loader {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25px;
	height: 25px;
	border: 5px solid gray;
	border-radius: 50%;
	border-left-color: transparent;
	animation: loader 1s infinite;
}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
