body {
	margin: 0;
	font-family:
		-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
	--primary-color: #546791;
	--text-color: #ffffff;
	--delete-button-background: #ff0000;
	--checkbox-checked-background: #546791;
	--checkbox-border-color: #000;
	--checkbox-text-color: #fff;
	--default-border-color: #000;
	--error-color: #ff0000;
	--modal-overlay: rgb(84, 103, 145, 0.6);
}

html {
	font-size: 10px;
}
